<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../images/settings.png">
    <link id="theme" rel="stylesheet" type="text/css" href="">
    <link rel="stylesheet" type="text/css" href="options.css">

    <title>wcaddons</title>
</head>
<body>
    <div id="header">
        <img height="100px" id="logo">
        
        <h1><i id="app-name">wcaddons</i><i id="version"> </i></h1>
        <h3 id="description">an open-source cubing utility</h3>
    </div>
    
    <div id="options">
        <div id="themes-option">
            <h1>change theme</h1>
            <div id="themes"></div>
        </div>
        <div id="wca-option">
            <h1>change default id</h1>
            <div id="wca-option-input">
                <form >
                    <input id="id-in" type="text">
                    <input id="id-submit" type="submit" value="set">
                </form>
            </div>
        </div>

    </div>
    
        <div id="disclaimer">
            <a href="https://github.com/louismeunier/wcaddons" target="_blank">
                <img height="23px" src="../../images/github.png">
            </a>
            <a href="https://paypal.me/louismeunier123" target="_blank">
                <img height="23px" src="../../images/sponsor.png">
            </a>
        </div>
    <script src="../scripts/setThemes.js"></script>
    <script src="options.js"></script>
</body>
</html>