body {
    font-family: Roboto,'Helvetica Neue',Arial,Helvetica,sans-serif;
    background-color: var(--main-bkd);
    color: var(--font-color);
    transition: 0.5s;
}
#header {
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--second-bkd);
    text-align: center;
    padding: 10px;
    padding-top: 30px;
}
#app-name {
    font-size: 75px;
    color: var(--logo-color);
}
#description {
    margin-top: 0;
    font-size: 20px;
}
#disclaimer {
    font-size: 15px;
    position: absolute;
}
a {
    text-decoration: none;
    color: slategray;
}

#options {
    margin-top: 350px;
    left:0;
    right:0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
#disclaimer {
    position: fixed;
    color: var(--highlight-color);
    padding: 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.theme-selector {
    background-color: var(--second-bkd);
    border-radius: 15px;
    height: 100px;
    width: 200px;
    text-align: center;
    margin: 20px;
}
.theme-selector h2 {
    font-size: 25px;
}
.theme-selector:hover {
    cursor: pointer;
    font-style: italic;   
}

#themes {
    margin-top: 20px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#cstimer {
    background-color: rgb(238,255,204);
    color: black;
}
#terminal {
    background-color: black;
    color:#2ecc71;
}
#monokai {
    background-color:#272822;
    color: #F8F8F2;
}
#olivia {
    background-color: #E8C4B8;
    color: #363434;
}
#lightDefault {
    background-color: white;
    color: #404040;
}
#darkDefault {
    background-color: #535c68;
    color: #c4c4c4;
}

#wca-option {
    margin-top: 50px;
}
#id-in {
    border-radius: 20px;
    height: 35px;
    width: 180px;
    text-align: center;
    border-color: var(--highlight-color);
}
#id-in::placeholder {
    text-align: center;
}
#id-submit {
    border-radius: 15px;
}