<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css"> 
    <link id="theme" rel="stylesheet" type="text/css" href=""> 
    <title>wcaddons/stats</title>
</head>
<body>
  
  <div id="stats"></div>

    <!-- PRODUCTION React.js CDNs -->
    <!--
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>\
    -->
    <!-- Optomized React.js CDNs -->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" crossorigin></script>
    <!-- Load React components -->
    <script src="../scripts/setThemes.js"></script>
    <script src="components/result.js"></script>
    <script src="components/meta.js"></script>
    <script src="components/person.js"></script>
    
</body>
</html>