body {
    background-color: var(--main-bkd);
    color: var(--font-color);
    font-family: Roboto,'Helvetica Neue',Arial,Helvetica,sans-serif;
    transition: 0.5s;
}

#person-wrapper {
    display: flex;
    overflow-y: hidden;
    width: 100%;
}
table {
    height: 100%;
    width: 100%;
}
th {
    max-width: 25px;
}
td {
    text-align: center;
    max-width: 50px;
}
.type-header {
    font-style: italic;
    font-weight: bold;
}
.name {
    color: var(--highlight-color);
}
.avatar:hover {
    cursor: pointer;
}
.name:hover {
    cursor: pointer;
}
