<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="installed.css">
    <title>wcaddons::installed</title>
</head>
<body>
    <h1>Thanks for installing <i id="app-name">wcaddons</i>!</h1>
    <img id="logo">
    <div id="below-logo">
        <h2 id="desc">wcaddons is an opensource project, viewable on github</h2>
        <a href="https://github.com/louismeunier/wcaddons" target="_blank">
            <img id="github" height="32px">
        </a>
        <img height="32px" id="options">
        </div>
    <h4 id="version">V.</h4>
    <script src="installed.js"></script>
</body>
</html>