<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="popup.css">
    <link id="theme" rel="stylesheet" type="text/css" href="" >
  </head>
<body>
    <div id="header">
      <a id="app-name" href="https://github.com/louismeunier" target="_blank">wcaddons</a>
    </div>
    <table id="wca-ids">
    <thead>
        <tr id="wca-ids-table-header">
          <th>ID</th>
        </tr>
    </thead>
    <tbody id="wca-ids-body"></tbody>
    </table>
    <div id="footer">
      <img height="20px" id="compare">
      <img height="20px" id="clear-names">
    </div>
    <script src="popup.js"></script>
    <script src="../scripts/setThemes.js"></script>
  </body>
</html>