@import url("../themes.css");

body {
    height: 100%;
    width: 100%;
    background-color: var(--main-bkd);
    color: var(--font-color);
    font-family: Roboto,'Helvetica Neue',Arial,Helvetica,sans-serif;
    overflow-x: hidden;
}

#stats {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 25px;
    transition: 0.2s;
    text-align: center;
}
.person {
    width: 80%;
}
.country {
    font-style: italic;
    font-size: 15px;
}

.gender {
    font-size: 12px;
}

.solves-per-comp {
    font-style: italic;
    font-size: 15px;
}

.barrier {
    width:10px;
    background-color: gainsboro;
}