.theme-light {
    --main-bkd: white;
    --font-color: black;
    --second-bkd: rgb(231, 231, 231);
}


.theme-dark {
    --main-bkd: #535c68;
    --font-color: #cbcdcf;
    --second-bkd: rgba(209, 209, 209, 0.781);
}
body {
    text-align: center;
    font-family: Roboto,'Helvetica Neue',Arial,Helvetica,sans-serif;
    background-color: var(--main-bkd);
    color: var(--font-color);
}
#app-name {
    color:#3498db
}
h1 {
    color: var(--second-bkd);
    font-size: 60px;
    margin-top: 100px;
}
#version {
    font-style: italic;
    font-size: 20px;
    bottom: 0;
    width: 100%;
    position: fixed;
    margin-bottom: 10px;
}
#below-logo {
    height: 100%;
    padding: 25px;
}
a {
    text-decoration: none;
    color: slategray;
}
h2 {
    margin: 25px;
}